/*css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* prettier-ignore*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(0, 0, 0);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}
/*  */
/* /////////..... MAIN .....///////// */
:root {
  --main-color: rgb(91, 0, 182);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-text {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.button {
  padding: 15px 40px;
  color: rgb(255, 255, 255);
  /* border: 2px solid white; */
  font-family: "Montserrat", sans-serif;
}

.hyperlink {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  cursor: pointer;
}

.gradient-test-bot {
  /* border: 5px solid green; */
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  background: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.gradient-test-top {
  /* border: 5px solid green; */
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  background: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-top: 2px solid gray;
}

/* /////////..... NAV .....///////// */

.nav {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  position: relative;
  z-index: 1;
}

.nav .logo {
  width: 25%;
  /* align-items: self-end; */
  flex-wrap: wrap;
}

.logo .logo-word {
  align-items: self-end;
  flex: 50%;
}

.nav .menu {
  width: 75%;
  align-self: center;
}

.nav .menu ul {
  float: right;
}

.nav .menu li {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.8rem;
}

.nav p {
  font-weight: 300;
  font-size: 1.4rem;
  font-family: "Zen Kurenaido", sans-serif;
  align-self: bottom;
  letter-spacing: 7px;
  /* color: rgb(91, 0, 182); */
}

.nav .first-letter {
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.8rem;
}

.nav .gap {
  margin-left: 25px;
}

.mobile-nav .flex-container {
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 86%;
  right: 21px;
}

.mobile-nav a {
  font-size: 1rem;
}
.mobile-nav li {
  margin: 1px 0;
  background-color: #3f3f3f;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.618);
  border-color: rgb(121, 121, 121);
  border-radius: 5px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 8px 0;
}

.mobile-nav i {
  color: var(--main-color);
}

#mMenu {
  display: none;
}

.mobile-nav {
  display: none;
}

/* .mobile-nav li:hover {
  background-color: #49d55c;
} */

/* /////////..... INDEX .....///////// */

.container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.page-container {
  /* border: 3px solid pink; */
  position: absolute;
  width: 100%;
  top: 0;
  /* z-index: -1; */
}

.body-container {
  /* border: 2px solid yellow; */
  position: relative;
  height: 100vh;
}

.img-container {
  position: absolute;
  width: 100%;
  /* border: 2px solid yellow; */
}

.text-container {
  color: white;
  /* border: 3px solid lightblue; */
  position: relative;
  height: 100%;
  flex-direction: column;
}

.empty-container {
  flex: 20%;
  /* border: 3px solid red; */
}

.content-container {
  flex: 80%;
  /* border: 3px solid blue; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dot-background {
  /* border: 3px solid green; */
  width: auto;
  height: 50%;
  max-height: 350px;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/pattern-square-dots-800x400.png");
  margin-left: 10%;
  flex: 80%;
  /* position: relative;
  z-index: -10; */
}

.page-number-container {
  /* border: 3px solid yellow; */
  width: auto;
  height: 50%;
  max-height: 350px;
  justify-content: center;
  flex-direction: column;
  flex: 20%;
  margin-right: 50px;
}

.text-wrapper {
  /* border: 3px solid orangered; */
  flex-direction: column;
  max-width: 550px;
}

.text-wrapper h1,
.text-wrapper h2 {
  letter-spacing: 8px;
  margin-bottom: 30px;
  line-height: 50px;
}

.services .text-wrapper h2,
.projects .text-wrapper h2 {
  margin-bottom: 50px;
}

.text-wrapper p {
  line-height: 25px;
}

.black-img-cont {
  height: 100vh;
  /* border: 1px solid green; */
  background-color: black;
  flex: 30%;
  position: relative;
  z-index: 0;
  min-width: 150px;
}

.window-img-cont {
  /* border: 5px solid blue; */
  height: 100vh;
  flex: 70%;
}

.window-img-cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

/*///// ....  dot/arrow  ....///// */

.number-dot-container {
  justify-content: right;
  margin: 10px 0;
}

.number-dot-container p {
  font-size: 2rem;
  margin-right: 25px;
}

.number-dot-container a {
  align-self: center;
}

.number-dot-container i {
  color: rgb(91, 0, 182);
}

.arrows-container {
  position: relative;
  top: 60%;
  font-size: 2.2rem;
  z-index: 10;
}

.arrows-container a {
  color: rgb(91, 0, 182);
  cursor: pointer;
  margin-right: 20px;
}

.inactive-arrow {
  color: rgb(48, 48, 48);
}

/* /////////..... ABOUT .....///////// */

.dot-backround-2 {
  /* border: 5px solid blue; */
  color: white;
  width: 50%;
  height: 300px;
  position: absolute;
  bottom: 0;
  background-image: url("images/pattern-square-dots-800x400.png");
}

.dot-backround-3 {
  /* border: 3px solid green; */
  color: white;
  width: 50%;
  height: 300px;
  /* height: 300px; */
  position: absolute;
  bottom: 0;
  right: 0px;
  /* z-index: 100; */
  /* background-image: url("images/dot_bar.png"); */
  object-fit: cover;
}

.dot-backround-3 img {
  filter: grayscale(100%) brightness(30%);
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dot-backround-4 {
  /* border: 5px solid blue; */
  color: white;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 200px;
  background-image: url("images/pattern-square-dots-800x400.png");
}

/* .dot-backround-5 {
  border: 5px solid blue;
  color: white;
  width: 20%;
  height: 300px;
  position: absolute;
  bottom: 100px;
  background-image: url("images/pattern-square-dots-800x400.png");
} */

.about .dot-background,
.services .dot-background,
.projects .dot-background,
.contact .dot-background {
  background-image: none;
}

/* /////////..... SERVICES .....///////// */

.services-tiles-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-tiles-container .services-tile:last-child {
  margin-right: auto;
  margin-left: auto;
}

.services-tile {
  flex-direction: column;
  flex: 30%;
  /* padding-left: 15px; */
  padding-right: 25px;
  margin-bottom: 30px;
  max-width: 230px;
}

.services-tile i {
  font-size: 2.3rem;
  margin-right: 20px;
  margin-bottom: 15px;
}

.services-tile h3 {
  align-self: center;
}

/* /////////..... SERVICES .....///////// */

.projects-container {
  column-gap: 30px;
  /* flex-wrap: wrap; */
}

.projects-tile {
  flex: 90%;
  flex-direction: column;
}

.projects-tile .tile-body {
  max-width: 280px;
  max-height: 400px;
  /* border: 2px solid yellow; */
  margin: 0 0 20px 0;
}

.tile-body img {
  filter: grayscale(60%);
  width: 100%;
  height: auto;
}

/* /////////..... SERVICES .....///////// */

.contact .text-wrapper p {
  margin-bottom: 20px;
}

/* /////////..... MEDIA .....///////// */

@media screen and (max-width: 650px) {
  .text-wrapper h1 {
    letter-spacing: 5px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .page-number-container {
    display: none;
  }

  .index .dot-background,
  .about .dot-background {
    margin-right: 5%;
  }

  .index .dot-background,
  .about .dot-background {
    width: auto;
    height: 50%;
    max-height: 350px;
    margin-top: 50px;
  }

  .services-tiles-container .services-tile:last-child {
    margin-left: 0;
  }

  .arrows-container {
    top: 35%;
  }

  .services .body-container {
    height: 800px;
  }

  .projects .body-container {
    height: 1800px;
  }

  .projects .dot-background {
    height: auto;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .projects .arrows-container {
    margin-top: 80px;
    left: -26%;
  }
  .projects .tile-body,
  .projects .tile-footer {
    align-self: center;
  }

  .projects-tile {
    margin-bottom: 60px;
  }

  .projects .test-wrapper {
    padding-top: 100px;
  }

  .projects-container {
    flex-wrap: wrap;
  }

  .main-menu {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

/* /////////..... JS .....///////// */
.section-hidden {
  opacity: 0;
  transform: translateX(8rem);
}

.section-n {
  transition: transform 1s, opacity 1s;
}
